:root {
    --text-color: #ffffff;
    --secondary: #95989A;
}

#welcome {
    background: linear-gradient(rgba(202, 202, 202, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#form-data {
    background: linear-gradient(rgba(202, 202, 202, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/img3.png");
    background-position: center;
    background-size: cover;
    height: 50vh;
    color: var(--text-color);
}

#footer {
    background: linear-gradient(rgba(202, 202, 202, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--text-color);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

#footer p:nth-child(2) {
    margin-bottom: 1em;
    font-size: 1.2em;
}

#footer span {
    font-weight: bold;
}